/* ------------------------------------------- 
        Fonts
 ---------------------------------------------*/

 @font-face {
  font-family: "Copasetic-Bold";
  src: url(/systems/celestopol1922/fonts/CopaseticNF-Bold.otf);
}
@font-face {
  font-family: "Copasetic";
  src: url(/systems/celestopol1922/fonts/CopaseticNF.otf);
}

.celestopol1922 .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.celestopol1922 form {
  height: 100%;
}
.celestopol1922 .sheet-header {
  flex: 0 0 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  height: 100%;
  overflow-y: clip;
  
  background-image: url("/systems/celestopol1922/images/ui/fond_cadrille.jpg");
  background-position: top right; 
}

.celestopol1922 .sheet-body div.titre {
  background-color: rgb(12, 76, 12);
  height: 25px;
  width: 100%;
}
.celestopol1922 .sheet-body div.titre span {
  margin-left: 3px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
  font-variant-caps: small-caps;
}


.celestopol1922 .sheet-display {
  display: flex;
  column-gap: 10px;
  overflow-y: auto;
}

.celestopol1922 .side-sheet {
  width: 190px;
}

.celestopol1922 .side-sheet .logo-img {
  max-height: 100%;
  width: auto;
}

.celestopol1922 .side-sheet .click-prefs {
  font-size: 20px;
}

.celestopol1922 .side-sheet h1.charname {
  height: 50px;
  padding: 5px;
  margin: 5px 0;
  border-bottom: 0;
}

.celestopol1922 .side-sheet h1.charname input {
  width: 100%;
  height: 28px;
  font-size: 22px;
  margin: 0;
}

.celestopol1922 .concept {
  text-align: center;
}

.celestopol1922 .concept input {
  height: 28px;
  text-align: center;
}
.celestopol1922 .concept select {
  text-align: center;
}

.celestopol1922 .body-sheet {
  width: 710px;
}

.celestopol1922.sheet.actor.character .sheet-body {
  overflow-y: auto;
}

.celestopol1922 .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  overflow-y: clip;
  background-image: url("/systems/celestopol1922/images/ui/fond_cadrille.jpg");
  background-position: top right; 
}

.celestopol1922 .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.celestopol1922 .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.celestopol1922 .sheet-body .tab {
  height: 100%;
  height: 870px;
  padding: 4px;
  /* overflow-y: auto; */
  background-image: url("/systems/celestopol1922/images/ui/fond_cadrille.jpg");
  background-position: bottom left; 
}

.celestopol1922 .side-sheet .NPCtype {
  text-align: center;
  font-family: Copasetic-Bold;
}

.celestopol1922 .side-sheet .sheet-logo {
  background-color: rgb(12, 76, 12);
  border-radius: 10px 10px 0px 0px;
}
.celestopol1922 .side-sheet .sheet-logo img {
  border: 0;
}

.celestopol1922 .side-sheet .initiative {
  display: flex;
  justify-content: center;
  align-items: center;
}

.celestopol1922 .side-sheet .check-sheet-click {
  text-align: center;
  width: 27px;
  height: 27px;
  background-color: rgb(12, 76, 12);
  border-color: orange;
  border-radius: 4px;
  font-size: 22px;
  color: orange;
}
.celestopol1922 .side-sheet .check-sheet-click:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}



.celestopol1922 .sheet-body .click:hover,
.celestopol1922 .sheet-body .moon-click:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}


.celestopol1922 .sheet-body img {
border: 0;
}


/* concerne les compétences */
.celestopol1922 .sheet-body .tab.skills th {
  color: orange;
  background-color: rgb(12, 76, 12);
  border-bottom: orange;
}

.celestopol1922 .sheet-body .tab.skills td {
  text-align: center;
}

.celestopol1922 .sheet-body .tab.skills th.blessures,
.celestopol1922 .sheet-body .tab.skills th.destin,
.celestopol1922 .sheet-body .tab.skills th.spleen {
  height: 25px;
  color: orange;
  background-color: rgb(12, 76, 12);
  border-bottom: orange;
  font-size: 18px;
  font-variant-caps: small-caps;
}


.celestopol1922 .sheet-body .tab.skills th input {
  color: orange;
}

.celestopol1922 .sheet-body .tab.skills  {
  font-weight: bold;
}


.celestopol1922 .sheet-body .tab.skills input {
  font-weight: none;
  width: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.celestopol1922 .sheet-body .tab.skills select[name="system.ame"],
.celestopol1922 .sheet-body .tab.skills select[name="system.corps"],
.celestopol1922 .sheet-body .tab.skills select[name="system.coeur"],
.celestopol1922 .sheet-body .tab.skills select[name="system.esprit"] {
  width: none;
}

.celestopol1922 .sheet-body .tab.skills .tab-titre {
  padding-top: 20px;
  font-weight: bold;
}

.celestopol1922 .sheet-body .skills image img {
border: 0;
z-index: 4;
width: 100%;
}
.celestopol1922 .sheet-body .skills image div.stick {
margin-top: -52px;
z-index: 2;
width: 3%;
text-align: center;
}
.celestopol1922 .sheet-body .skills table tr td.click {
width: 27px;
}
.celestopol1922 .sheet-body .skills table tr td.noclick {
width: 27px;
} 
.celestopol1922 .sheet-body .skills table tr td table tr td.icon-d {
width: 27px;
}
.celestopol1922 .sheet-body .skills table tr td.bonus {
width: 35px;
}
.celestopol1922 .sheet-body .skills table tr td.label {
width: 25%;
}
.celestopol1922 .sheet-body .skills table tr td.check {
width: 5%;
}


.celestopol1922 .sheet-body table tr td img.jauge-check {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
.celestopol1922 .sheet-body table tr td img.jauge-check:hover {
cursor: pointer;
}


.celestopol1922 .sheet-body .skills table tr td.image {
width: 5%;
text-align: center;
}
.celestopol1922 .sheet-body .skills table tr td.image img {
z-index: 4;
width: 100%;
}
.celestopol1922 .sheet-body .skills table tr td.image div.stick {
margin-top: -52px;
z-index: 2;
width: 3%;
text-align: center;
}
.celestopol1922 .sheet-body .skills table tr td.image input.input {
border: 0;
width: 30px;
text-align: center;
}
.celestopol1922 .sheet-body .skills table tr td.specialities input.input {
width: 100%;
text-align: left;
}

/* concerne les factions */

.celestopol1922.celestopol1922-factions .sheet-body {
    overflow-y: auto;
}
 
.celestopol1922 .sheet-body .faction {
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    font-variant-caps: small-caps;
}
.celestopol1922.celestopol1922-factions .sheet-body .faction {
    margin-left: 5px;
}


.celestopol1922 .sheet-body input.faction {
    width: 320px;
}

.celestopol1922 .sheet-body div.faction-ligne {
    margin-left: 115px;
    margin-top: 5px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 30px;
}
.celestopol1922.celestopol1922-factions .sheet-body div.faction-ligne {
    margin-left: 20px;
}
.celestopol1922 .sheet-body div.faction-colonne {
    grid-column: 1;
}

.celestopol1922 .sheet-body div.faction-ligne span img.jauge-check {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.celestopol1922 .sheet-body div.faction-ligne span img.jauge-check:hover {
  cursor: pointer;
}

.celestopol1922 .sheet-body div.faction-ligne-level {
    margin-left: 115px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 35px;
}
.celestopol1922.celestopol1922-factions .sheet-body div.faction-ligne-level {
    margin-left: 20px;
}

.celestopol1922 .sheet-body div.faction-colonne-level {
    grid-column: 1;
}
.celestopol1922 .sheet-body div.faction-ligne-level {
    margin-top: -28.5px;
}

.celestopol1922 .sheet-body div.faction-ligne-level span.jauge-level {
    color: silver;
    margin-left: 7px;
}
.celestopol1922.celestopol1922-factions .sheet-body div.faction-ligne-level span.jauge-level:hover {
  cursor: pointer;
}

/* concerne les attributs */
.celestopol1922 .sheet-body .attribut {
    align-self: center;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.celestopol1922 .sheet-body div.attribut-ligne {
    margin-left: 100px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35px;

}
.celestopol1922 .sheet-body div.attribut-colonne {
    grid-column: 1;
}

.celestopol1922 .sheet-body div.attribut-ligne span img.jauge-check {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}
.celestopol1922 .sheet-body div.attribut-ligne span img.jauge-check:hover {
  cursor: pointer;
}

/* concerne les items */

.celestopol1922 .editor,
.celestopol1922 .editor-content {
  height: 100%;
}

.celestopol1922 .attributes .quantity,
.celestopol1922 .attributes .weight {
  width: 60px;
  text-align: center;
}

.celestopol1922 .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.celestopol1922 .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.celestopol1922 .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.celestopol1922 .item-list .item-name {
  margin: 0;
  color: rgb(12, 76, 12);
  font-weight: bold;
}
.celestopol1922 .item-list .item-controls {
  flex: 0 0 36px;
  color: rgb(12, 76, 12);
}
.celestopol1922 div.titre .item-control {
  margin-left: 3px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
  font-variant-caps: small-caps;
}
.celestopol1922 .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.celestopol1922 .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.celestopol1922 .attributes {
  position: relative;
}
.celestopol1922 .attributes .attribute-control,
.celestopol1922 .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.celestopol1922 .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.celestopol1922 .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.celestopol1922 .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.celestopol1922 .attributes .attribute-key {
  background: transparent;
  border: none;
}
.celestopol1922 .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}
.celestopol1922 .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.celestopol1922 .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.celestopol1922 .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.celestopol1922 .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.celestopol1922 .attribute input[type="text"]::placeholder,
.celestopol1922 .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.celestopol1922 .attribute input[type="text"]:focus::placeholder,
.celestopol1922 .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.celestopol1922 .group-controls {
  margin: 5px;
}
.celestopol1922 .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.celestopol1922 .group {
  margin: 5px 0 0;
  padding: 0;
}
.celestopol1922 .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.celestopol1922 .group-key,
.celestopol1922 .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.celestopol1922 .group-key {
  opacity: 0.75;
}
.celestopol1922 .group-label {
  flex: 2;
}
.celestopol1922 .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}


.celestopol1922 .data tr td.bonus,
.celestopol1922 .data tr td.malus {
  text-align: center;
}






.celestopol1922.sheet.character {
  min-width: 920px; /* 560px; */
  max-width: 920px;
  min-height: 350px;
  max-height: 900px;
}

.celestopol1922.sheet.character table tr th.moon-space,
.celestopol1922.sheet.character table tr td.moon-space {
  width: 70px;
  text-align: left;
}

.celestopol1922.sheet.character table tr th p {
  float: left;
}

.celestopol1922.sheet.character table tr th img {
  float: left;
}

.celestopol1922.sheet.character table tr th input {
  float: left;
}


.celestopol1922.sheet.character table tr td.left {
  /* flex-direction: column; */
  text-align: left;
  width: 160px;
  /* margin-left: auto; */
 /*  margin-right: auto; */
  /* float: none; */
}


.celestopol1922.sheet.character table tr td.left div.left {
  display: table;
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  /* float: none; */
}

.celestopol1922.sheet.character table tr td.left div.left p {
  float: none;
  clear: both;
}

.celestopol1922.sheet.character table tr td span.lock:hover {
  cursor: pointer;
}



.celestopol1922.sheet.character table tr td.left div.left .specialisation-ligne {
    float: left;
    margin-top: 8px;
    margin-left: -10px;
}
.celestopol1922.sheet.character table tr td.left div.left .specialisation-colonne {
    float: left;
}


.celestopol1922.sheet.character table tr td.left div.left .specialisation-bouton {
    width: 15px;
    height: 15px;
}


.celestopol1922.sheet.character table tr td.left div.left img.left {
  float: left;
}

.celestopol1922.sheet.character table tr td.left div.left input.left {
  float: left;
}

.celestopol1922.sheet.item,
.celestopol1922.sheet.anomaly,
.celestopol1922.sheet.aspect {
  min-width: 460px;
  min-height: 400px;
}

.celestopol1922.sheet.item .sheet-body,
.celestopol1922.sheet.anomaly .sheet-body,
.celestopol1922.sheet.aspect .sheet-body {
  overflow-y: auto;
}


/* concerne la fiche npc-sheet */


.celestopol1922.sheet.actor.npc {
  min-width: 920px; /* 560px; */
  max-width: 920px;
  min-height: 420px;
  max-height: 750px;
}


/* concerne les items aspect et anomaly */

.celestopol1922 .sheet-body .attributes .libel-skills {
  width: 75%;
}
.celestopol1922 .sheet-body .attributes .bonus,
.celestopol1922 .sheet-body .attributes .malus {
  text-align: center;
}


/* Concerne les prompts */

.celestopol1922 .sheet-body .frame {
  background-image: url("/systems/celestopol1922/images/ui/cde_fond_transp.png");
}

.celestopol1922 .sheet-body .frame .input {
  text-align: center;
}

.celestopol1922 .sheet-body .frame table tr {
  border: 0;
}


.celestopol1922 .sheet-body table tr td input {
  margin-top: -30;
}


.celestopol1922 .sheet-body .frame table tr:nth-child(odd) {
  background-color: transparent;
}

.celestopol1922 .sheet-body .frame table tr:nth-child(even) {
  background-color: transparent;
}

/* SMART GREEN BUTTON dans le tchat */
/* SMART GREEN BUTTON dans l'onglet Factions */


.celestopol1922 .sheet-body .faction-green-buttons,
.cel1922-result-window .green-buttons {
  text-align: center;
}

.celestopol1922 .sheet-body .faction-smart-green-button:hover,
.cel1922-result-window .smart-green-button:hover {
cursor: pointer;
}

.celestopol1922 .sheet-body .faction-smart-green-button,
.cel1922-result-window .smart-green-button {
  background-color:rgb(75,216,37);
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	/* color:orange; */
  color:black;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(52,172,20) 0%, rgb(76,206,41) 100%);
	background-image: -o-linear-gradient(bottom, rgb(52,172,20) 0%, rgb(76,206,41) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(52,172,20) 0%, rgb(76,206,41) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,172,20) 0%, rgb(76,206,41) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(52,172,20) 0%, rgb(76,206,41) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(52,172,20)),
	color-stop(1, rgb(61,196,25)),
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 5px 0px 0px rgb(12,76,12), 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 5px 0px 0px rgb(12,76,12), 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 5px 0px 0px rgb(12,76,12), 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 5px 0px 0px rgb(12,76,12), 0px 10px 5px #999;
}

.celestopol1922 .sheet-body .faction-smart-green-button:active,
.cel1922-result-window .smart-green-button:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(76,206,41) 0%, rgb(52,172,20) 100%);
	background-image: -o-linear-gradient(bottom, rgb(76,206,41) 0%, rgb(52,172,20) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(76,206,41) 0%, rgb(52,172,20) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(76,206,41) 0%, rgb(52,172,20) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(76,206,41) 0%, rgb(52,172,20) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(61,196,25)),
	color-stop(1, rgb(52,172,20))
	);
	-webkit-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 2px 0px 0px rgb(12,76,12), 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 2px 0px 0px rgb(12,76,12), 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 2px 0px 0px rgb(12,76,12), 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 2px 0px 0px rgb(12,76,12), 0px 5px 3px #999;
}

.celestopol1922 .sheet-body .faction-smart-green-button::before,
.cel1922-result-window .smart-green-button::before {
	background-color:rgb(49,157,20);
	background-image:url(/systems/celestopol1922/images/ui/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px rgb(12,45,4), 0px 1px 0px rgb(92,246,51);
	-moz-box-shadow: inset 0px 1px 0px rgb(12,45,4), 0px 1px 0px rgb(92,246,51);
	-o-box-shadow: inset 0px 1px 0px rgb(12,45,4), 0px 1px 0px rgb(92,246,51);
	box-shadow: inset 0px 1px 0px rgb(12,45,4), 0px 1px 0px rgb(92,246,51);
}

.celestopol1922 .sheet-body .faction-smart-green-button:active::before,
.cel1922-result-window .smart-green-button:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 3px 0px rgb(12,76,12), 0px 6px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 3px 0px rgb(12,76,12), 0px 6px 3px #999;
	-o-box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 3px 0px rgb(12,76,12), 0px 6px 3px #999;
	box-shadow: inset 0px 1px 0px rgb(92,246,51), 0px 3px 0px rgb(12,76,12), 0px 6px 3px #999;
}

/* concerne le tchat */

.cel1922-result-window table.cel1922-no-rich {
  border: 0px;
  background-color: transparent;
}

.cel1922-result-window tr.cel1922-no-rich {
background-color: transparent;
}

.cel1922-result-window div.cel1922-moon {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cel1922-result-window img.cel1922-moon {
  width: 75px;
  border-width: 0px;
  filter: drop-shadow(0px 0px 20px rgb(12, 76, 12));
}

.cel1922-result-window div.cel1922-die {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cel1922-result-window img.cel1922-die {
  width: 40px;
  border-width: 0px;
  filter: drop-shadow(0px 0px 15px rgb(12, 76, 12));
}

/*  */

.celestopol1922 .side-sheet h1.charname {
  font-family: "Copasetic-Bold";
  font-size: 20px;
}
.celestopol1922 .side-sheet .concept input[type="text"] {
  font-family: "Copasetic";
  font-size: 20px;
}
.celestopol1922 .side-sheet .concept select[name="system.anomaly"] {
  font-family: "Copasetic";
  font-size: 16px;
}
.celestopol1922 .side-sheet .concept input[type="number"] {
  font-family: "Copasetic-Bold";
  font-size: 16px;
  width: 20px;
}
.celestopol1922 .side-sheet .concept select[name="system.anomalymax"] {
  font-family: "Copasetic";
  font-size: 16px;
}

.celestopol1922 .side-sheet .concept .initiative {
  font-family: "Copasetic";
  font-size: 16px;
}

/* concerne l'interface de Foundry */

h1, h2, h3, h4, h5, h6 {
  border-bottom-color: rgb(12, 76, 12);
  color: orange;
  font-family: "Copasetic";
  text-transform: uppercase;
}


#logo {
  content: url("/systems/celestopol1922/images/ui/logo_jeu.png");
  width: 110px;
  height: 55px;
  margin-left: 5px;
  margin-top: 5px;
}

#pause > img {
  content: url("/systems/celestopol1922/images/ui/wheel.webp");
  height: 192px;
  width: 192px;
  top: -45px;
  left: calc(50% - 96px);
}

/* ---------------------------------------------
        Sidebar
--------------------------------------------- */

.icon.celestopol {
  background-image: url('/systems/celestopol1922/images/ui/logo_jeu.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}


a.compendium-name,
a.entry-name,
strong.ellipsis {
  color: orange;
  font-family: "Copasetic";
  text-transform: uppercase;
}



/* concerne les préférences */

.celestopol1922 .side-sheet .click-prefs:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #af010a);
}


/* concerne les pages de journaux */

.journal-header input {
  font-family: "Copasetic";
  text-transform: uppercase;
}

.journal-entry-page h1,
.journal-entry-page h2,
.journal-entry-page h3,
.journal-entry-page h4,
.journal-entry-page h5,
.journal-entry-page h6 {
  font-family: "Copasetic";
  text-transform: uppercase;
  color:rgb(12, 76, 12);
}


.celestopol1922 .editor-content h1,
.celestopol1922 .editor-content h2,
.celestopol1922 .editor-content h3,
.celestopol1922 .editor-content h4,
.celestopol1922 .editor-content h5,
.celestopol1922 .editor-content h6 {
  font-family: "Copasetic";
  text-transform: uppercase;
  color:rgb(12, 76, 12);
}