<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "CEL1922.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/celestopol1922/images/ui/wheel_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">
            <div style="border-radius: 5px 5px 0px 0px; display: flex; align-items: center; height: 25px; color: orange; background-color: rgb(12, 76, 12);">
                <i style="margin-left: 3px;" class="fas fa-dice-d8"></i>
            </div>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.numberofdice" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                    <select name="numberofdice" data-type="String">
                        {{#select numberofdice}}
                            <option value="1">{{ localize "CEL1922.One" }}</option>
                            <option value="2">{{ localize "CEL1922.Two" }}</option>
                            <option value="7">{{ localize "CEL1922.maitriseChance" }}</option>
                            <option value="8">{{ localize "CEL1922.attributeFortune" }}</option>
                            <option value="3">{{ localize "CEL1922.Three" }}</option>
                            <option value="4">{{ localize "CEL1922.Four" }}</option>
                            <option value="5">{{ localize "CEL1922.Five" }}</option>
                            <option value="6">{{ localize "CEL1922.Six" }}</option>
                        {{/select}}
                        </select>
                </tr>
            </table>
            <table>
                <tr>
                    <td>

                    </td>
                    <td>
                        <small><i class="fas fa-circle-info"></i> {{ localize 'CEL1922.utiliserFortune' }}</small>
                    </td>
                </tr>
            </table>


            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.skill" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="skill" data-type="String">
                            {{selectOptions skillchoices selected=skill labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <div style="border-bottom: solid 1px grey; height: 2px; width:100%;"></div>

            <table style="border: 0px; background-color: transparent; width: 100%;" >
                <tr style="background-color: transparent; width:100%; display: flex; align-items: content; justify-content: space-between;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.anomalynocompute" }}</b></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select name="bonusanomaly" data-type="String">
                                {{#select bonusanomaly }}
                                <option value="0"><b>&nbsp;+&nbsp;</b></option>
                                <option value="1"><b>&nbsp;–&nbsp;</b></option>
                                {{/select}}
                            </select>
                            <select name="anomaly" data-type="String">
                                {{selectOptions anomalychoices selected=anomaly labelAttr="label" localize=true}}
                            </select>
                    </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>

                    </td>
                    <td>
                        <small><i class="fas fa-circle-info"></i> {{ localize 'CEL1922.uneSeuleAnomalie' }}</small>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent; width:100%; display: flex; align-items: content; justify-content: space-between;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.aspectUsed" }}</b></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select name="bonusaspect" data-type="String">
                                {{#select bonusaspect }}
                                <option value="0">&nbsp;+&nbsp;</option>
                                <option value="1">&nbsp;–&nbsp;</option>
                                {{/select}}
                            </select>
                            <select name="aspect" data-type="String">
                                {{selectOptions aspectchoices selected=aspect labelAttr="label" localize=true}}
                            </select>
                    </div>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.bonus" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="bonus" data-type="String">
                        {{#select bonus }}
                        <option value="0">{{ localize "CEL1922.opt.none" }}</option>
                        <option value="1">+1</option>
                        <option value="2">+2</option>
                        <option value="3">+3</option>
                        <option value="4">+4</option>
                        <option value="5">+5</option>
                        <option value="6">+6</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.malus" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="malus" data-type="String">
                        {{#select malus }}
                        <option value="0">{{ localize "CEL1922.opt.none" }}</option>
                        <option value="-1">-1</option>
                        <option value="-2">-2</option>
                        <option value="-3">-3</option>
                        <option value="-4">-4</option>
                        <option value="-5">-5</option>
                        <option value="-6">-6</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
            
            <div style="border-bottom: solid 1px grey; height: 2px; width:100%;"></div>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div">
                            <span class="value"><b>{{ localize "CEL1922.armorencumbrance" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="armor" data-type="String">
                            {{selectOptions armorchoices selected=armor labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <div style="border-bottom: solid 1px grey; height: 2px; width:100%;"></div>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.jaugewounds" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugewounds">
                            {{selectOptions jaugewoundschoices selected=jaugewounds labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.jaugedestinynocompute" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugedestiny" data-type="String">
                            {{selectOptions jaugedestinychoices selected=jaugedestiny labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div">
                            <span class="value"><b>{{ localize "CEL1922.jaugespleennocompute" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugespleen" data-type="String">
                            {{selectOptions jaugespleenchoices selected=jaugespleen labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <div style="border-top: solid 1px grey; height: 5px; width:100%;"></div>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                <b>{{ localize "CEL1922.TypeOfThrow4ThisTime" }}</b>
                    <td>
                        <select name="typeofthrow" data-type="String">
                        {{#select typeofthrow }}
                            <option value="0">{{ localize "CEL1922.Everybody" }}</option>
                            <option value="1">{{ localize "CEL1922.JustDMAndMe" }}</option>
                            <option value="2">{{ localize "CEL1922.DMOnly" }}</option>
                            <option value="3">{{ localize "CEL1922.MeOnly" }}</option>
                        {{/select}}
                        </select>
                    </td>
                    <td>
                        <small style="color: rgb(12, 76, 12);"><i class="fas fa-circle-info"></i> {{ localize "CEL1922.TotalBonusMalus" }}</small>
                    </td>
                    <td class="scorebonusmalus" style="text-align: center; color: orange; background-color: rgb(12, 76, 12); margin-top: 5px;">
                        [&nbsp;{{ totalscoresbonusmalus }}&nbsp;]
                    </td>
                </tr>
                <tr hidden>
                    <td class="actor">{{ actorID }}</td>
                </tr>
            </table>

		</div>	
    </section>
</form>