<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "CEL1922.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/celestopol1922/images/wheel_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.numberofdice" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                    <select name="numberofdice" data-type="String">
                        {{#select numberofdice}}
                            <option value="2">{{ localize "CEL1922.Two" }}</option>
                            <option value="3">{{ localize "CEL1922.Three" }}</option>
                            <option value="4">{{ localize "CEL1922.Four" }}</option>
                            <option value="5">{{ localize "CEL1922.Five" }}</option>
                            <option value="6">{{ localize "CEL1922.Six" }}</option>
                        {{/select}}
                        </select>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.skill" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="skill" data-type="String">
                            {{selectOptions skillchoices selected=skill labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.anomaly" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="anomaly" data-type="String">
                            {{selectOptions anomalychoices selected=anomaly labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.aspect" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="aspect" data-type="String">
                            {{selectOptions aspectchoices selected=aspect labelAttr="label" localize=true}}
                        </select>
                    </td>
                    <td>
                        <div>
                            <input type="number" name="aspectvalue" value="{{aspectvalue}}" placeholder="0" />
                        </div>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.bonus" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="bonus" data-type="String">
                        {{#select bonus }}
                        <option value="0">0</option>
                        <option value="1">+1</option>
                        <option value="2">+2</option>
                        <option value="3">+3</option>
                        <option value="4">+4</option>
                        <option value="5">+5</option>
                        <option value="6">+6</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.malus" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="malus" data-type="String">
                        {{#select malus }}
                        <option value="0">0</option>
                        <option value="-1">-1</option>
                        <option value="-2">-2</option>
                        <option value="-3">-3</option>
                        <option value="-4">-4</option>
                        <option value="-5">-5</option>
                        <option value="-6">-6</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.jaugewounds" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugewound">
                            {{selectOptions jaugewoundschoices selected=jaugewounds labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div>
                            <span class="value"><b>{{ localize "CEL1922.jaugedestiny" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugewound" data-type="String">
                            {{selectOptions jaugedestinychoices selected=jaugedestiny labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td>
                        <div">
                            <span class="value"><b>{{ localize "CEL1922.jaugespleen" }}</b></span>
                        </div>
                    </td>
                    <td style="display: flex; align-items: content; justify-content: end;">
                        <select name="jaugespleen" data-type="String">
                            {{selectOptions jaugespleenchoices selected=jaugespleen labelAttr="label" localize=true}}
                        </select>
                    </td>
                </tr>
            </table>

            <br>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                <b>{{ localize "CEL1922.TypeOfThrow" }}</b>
                    <td>
                        <select name="typeofthrow" data-type="String">
                        {{#select typeofthrow }}
                            <option value="0">{{ localize "CEL1922.Everybody" }}</option>
                            <option value="1">{{ localize "CEL1922.JustDMAndMe" }}</option>
                            <option value="2">{{ localize "CEL1922.DMOnly" }}</option>
                            <option value="3">{{ localize "CEL1922.MeOnly" }}</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

		</div>	
    </section>
</form>