<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "CEL1922.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/celestopol1922/images/wheel_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">
            <div style="border-radius: 5px 5px 0px 0px; display: flex; align-items: center; height: 25px; color: orange; background-color: rgb(12, 76, 12);">
                <img
                style="border: 0; margin-left: 3px; width: 25px"
                src="systems/celestopol1922/images/icons/weapons/firearm.png"
                alt="Firearm"        
                >
            </div>
            <div style="height: 5px;">

            </div>
            <div>
                <table class="checkboxes" style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "CEL1922.choosewhichinventory" }}</b>
                        <td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="myinventory" value="inventory" checked>{{ localize "CEL1922.frominventory" }}
                            <br>
                            <small>{{ localize "CEL1922.developedfrominventory" }}</small>

                        </td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="myinventory" value="improvised">{{ localize "CEL1922.improvisedweapon" }}
                            <br>
                            <small>{{ localize "CEL1922.developedimprovisedweapon" }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="form-group" style="border: 0px; background-color: transparent;">
                    <tr class="form-fields" style="background-color: transparent;">
                        <td name="chooseinventory">
                            <span class="value"><b>{{ localize "CEL1922.chooseininventory" }}</b>&nbsp;</span>
                            <select name="inventorychoice" data-type="String">
                                {{selectOptions inventorychoices selected=selectedinventory labelAttr="label" localize=true}}
                            </select>
                        </td>
                        <td name="choosedamage" style="display: none;">
                            <span class="value"><b>{{ localize "CEL1922.choosedamage" }}</b>&nbsp;</span>
                            <select name="damage">
                                {{#select damage}}
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
    	</div>	
    </section>
</form>