<table>
  <tr>
    <th class="moon-space">
      <img
      style="width: 27px"
      class="moon-click"
      data-libel-id="moon-die-randomize"
      src="systems/celestopol1922/images/ui/wheel.webp"
      data-tooltip="{{ localize 'CEL1922.MoonDieThrow' }}"
      alt="Die"
      >
    </th>
     <th class="AME">
      <p>{{ localize "CEL1922.AME" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="AME-RES-0"
      src="systems/celestopol1922/images/ui/d8_fond_transp.png"
      data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.ame' }}"
      alt="Die"
      >
      <p>{{ localize "CEL1922.RES" }}</p>
      <input type="number" name="system.skill.ame.res" value="{{systemData.skill.ame.res}}" placeholder="0" />
    </th>
    <th class="CORPS">
      <p>{{ localize "CEL1922.CORPS" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="CORPS-RES-5"
      src="systems/celestopol1922/images/ui/d8_fond_transp.png"
      data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.corps' }}"
      alt="Die"
      >
      <p>{{ localize "CEL1922.RES" }}</p>
      <input type="number" name="system.skill.corps.res" value="{{systemData.skill.corps.res}}" placeholder="0" />
    </th>
    <th class="COEUR">
      <p>{{ localize "CEL1922.COEUR" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="COEUR-RES-10"
      src="systems/celestopol1922/images/ui/d8_fond_transp.png"
      data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.coeur' }}"
      alt="Die"
      >
      <p>{{ localize "CEL1922.RES" }}</p>
      <input type="number" name="system.skill.coeur.res" value="{{systemData.skill.coeur.res}}" placeholder="0" />
    </th>
    <th class="ESPRIT">
      <p>{{ localize "CEL1922.ESPRIT" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="ESPRIT-RES-15"
      src="systems/celestopol1922/images/ui/d8_fond_transp.png"
      data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.esprit' }}"
      alt="Die"
      >
      <p>{{ localize "CEL1922.RES" }}</p>
      <input type="number" name="system.skill.esprit.res" value="{{systemData.skill.esprit.res}}" placeholder="0" />
    </th>
  </tr>

  <tr>
    <td class="moon-space">
    {{#if unlocked}}
    <span class="lock"><i class="fas fa-lock-keyhole mode-toggle" data-libel-id="lock-closed"></i></span>
    {{else}}
    <span class="lock"><i class="fas fa-lock-keyhole-open mode-toggle" data-libel-id="lock-opened"></i></span>
    {{/if}}
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
    <td>
        
    </td>
  </tr>

  <tr>
    <td class="moon-space">
      ●
    </td>
    <td class="artifice left">
      <div class="left">
        <p>{{ localize "CEL1922.Artifice" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="artifice-AME-1"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Artifice' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 5 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.ame.artifice.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.ame.artifice.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.ame.artifice.value" value="{{systemData.skill.ame.artifice.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
    </div>
    </td>
    <td class="echauffouree left">
      <div class="left">
        <p>{{ localize "CEL1922.Echauffouree" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="echauffouree-CORPS-6"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Echauffouree' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 6 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.corps.echauffouree.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.corps.echauffouree.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.corps.echauffouree.value" value="{{systemData.skill.corps.echauffouree.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="appreciation left">
      <div class="left">
        <p>{{ localize "CEL1922.Appreciation" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="appreciation-COEUR-11"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Appreciation' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 6 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.coeur.appreciation.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.coeur.appreciation.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.coeur.appreciation.value" value="{{systemData.skill.coeur.appreciation.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="traque left">
      <div class="left">
        <p>{{ localize "CEL1922.Instruction" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="traque-ESPRIT-16"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Instruction' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 2 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.esprit.instruction.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.esprit.instruction.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.esprit.instruction.value" value="{{systemData.skill.esprit.instruction.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
  </tr>
  <tr>
    <td class="moon-space">
      ●
    </td>
        <td class="attraction left">
      <div class="left">
        <p>{{ localize "CEL1922.Attraction" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="attraction-AME-2"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Attraction' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 2 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.ame.attraction.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.ame.attraction.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.ame.attraction.value" value="{{systemData.skill.ame.attraction.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="effacement left">
      <div class="left">
        <p>{{ localize "CEL1922.Effacement" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="effacement-CORPS-7"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Effacement' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 3 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.corps.effacement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.corps.effacement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.corps.effacement.value" value="{{systemData.skill.corps.effacement.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="arts left">
      <div class="left">
        <p>{{ localize "CEL1922.Arts" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="arts-COEUR-12"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Arts' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 2 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.coeur.arts.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.coeur.arts.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.coeur.arts.value" value="{{systemData.skill.coeur.arts.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="mtechnologique left">
      <div class="left">
        <p>{{ localize "CEL1922.Merveilleux technologique" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="mtechnologique-ESPRIT-17"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Merveilleux technologique' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 6 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.esprit.mtechnologique.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.esprit.mtechnologique.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.esprit.mtechnologique.value" value="{{systemData.skill.esprit.mtechnologique.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
  </tr>
  <tr>
    <td class="moon-space">
      ●
    </td>
    <td class="coercition left">
      <div class="left">
        <p>{{ localize "CEL1922.Coercition" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="coercition-AME-3"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Coercition' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 3 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.ame.coercition.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.ame.coercition.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.ame.coercition.value" value="{{systemData.skill.ame.coercition.value}}" placeholder="-"  min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="mobilite left">
      <div class="left">
        <p>{{ localize "CEL1922.Mobilite" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="mobilite-CORPS-8"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Mobilite' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 2 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.corps.mobilite.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.corps.mobilite.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.corps.mobilite.value" value="{{systemData.skill.corps.mobilite.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="inspiration left">
      <div class="left">
        <p>{{ localize "CEL1922.Inspiration" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="inspiration-COEUR-13"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Inspiration' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 3 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.coeur.inspiration.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.coeur.inspiration.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.coeur.inspiration.value" value="{{systemData.skill.coeur.inspiration.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="raisonnement left">
      <div class="left">
        <p>{{ localize "CEL1922.Raisonnement" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="raisonnement-ESPRIT-18"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Raisonnement' }}"
        alt="Die"
      >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 5 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.esprit.raisonnement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.esprit.raisonnement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.esprit.raisonnement.value" value="{{systemData.skill.esprit.raisonnement.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
  </tr>
  <tr>
    <td class="moon-space">
      ●
    </td>
    <td class="faveur left">
      <div class="left">
        <p>{{ localize "CEL1922.Faveur" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="faveur-AME-4"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Faveur' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 6 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.ame.faveur.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.ame.faveur.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.ame.faveur.value" value="{{systemData.skill.ame.faveur.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="prouesse left">
      <div class="left">
        <p>{{ localize "CEL1922.Prouesse" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="prouesse-CORPS-9"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Prouesse' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 5 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.corps.prouesse.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.corps.prouesse.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.corps.prouesse.value" value="{{systemData.skill.corps.prouesse.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="traque left">
      <div class="left">
        <p>{{ localize "CEL1922.Traque" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="traque-COEUR-14"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Traque' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 5 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.coeur.traque.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.coeur.traque.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.coeur.traque.value" value="{{systemData.skill.coeur.traque.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
    <td class="traitement left">
      <div class="left">
        <p>{{ localize "CEL1922.Traitement" }}</p>
        <img
        style="width: 27px"
        class="click left draggable lancerDeDes"
        data-libel-id="traitement-ESPRIT-19"
        src="systems/celestopol1922/images/ui/d8_fond_transp.png"
        data-tooltip="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Traitement' }}"
        alt="Die"
        >
        {{#if unlocked}}
        <div class="specialisation-ligne">
            {{#times 8}}
            <span class="specialisation-colonne">
            <img
            class="specialisation-bouton"
            data-tooltip=""
            {{#if (eq 3 @index)}}
            src="systems/celestopol1922/images/ui/cercle-vert-augmente-{{#if (gte systemData.skill.esprit.traitement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{else}}
            src="systems/celestopol1922/images/ui/cercle-vert-{{#if (gte systemData.skill.esprit.traitement.value @index)}}checked{{else}}unchecked{{/if}}.png"
            {{/if}}
            ></img>
            </span>
            {{/times}}
        </div>
        {{else}}
        <input class="left" type="number" name="system.skill.esprit.traitement.value" value="{{systemData.skill.esprit.traitement.value}}" placeholder="-" min="0" max="8" step="1" />
        {{/if}}
      </div>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="blessures">
      <span>{{ localize "CEL1922.jaugewounds" }}</span>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Anodin" }}
    </td>
    <td>
      {{ localize "CEL1922.Derisoire" }}
    </td>
    <td>
      {{ localize "CEL1922.Negligeable" }}
    </td>
    <td>
      {{ localize "CEL1922.Superficiel" }}
    </td>
    <td>
      {{ localize "CEL1922.Leger" }}
    </td>
    <td>
      {{ localize "CEL1922.Modere" }}
    </td>
    <td>
      {{ localize "CEL1922.Grave" }}
    </td>
    <td>
      {{ localize "CEL1922.Dramatique" }}
    </td>
  <tr>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-1"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 minute' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-2"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 minute' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-3"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.10 minutes' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-4"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.10 minutes' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-5"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.30 minutes' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-6"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.30 minutes' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 5)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-7"
      data-tooltip="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 day' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 6)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="blessure-8"
      data-tooltip="{{ localize 'CEL1922.Out of Fiction' }}"
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.blessures.lvl 7)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
  </tr>
  <tr>
    <td>
      0
    </td>
    <td>
      0
    </td>
    <td>
      -1
    </td>
    <td>
      -1
    </td>
    <td>
      -2
    </td>
    <td>
      -2
    </td>
    <td>
      -3
    </td>
    <td>
      {{ localize "CEL1922.Hors-fiction" }}
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="destin" data-tooltip="{{{ localize 'CEL1922.DestinSpeech' }}}">
      <span><i class="fas fa-circle-info"></i> {{ localize "CEL1922.jaugedestiny" }}</span>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
  <tr>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-5"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-6"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 5)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-7"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 6)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="destin-8"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.destin.lvl 7)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="spleen" data-tooltip="{{{ localize 'CEL1922.SpleenSpeech' }}}">
      <span><i class="fas fa-circle-info"></i> {{ localize "CEL1922.jaugespleen" }}</span>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
    <td>
      {{ localize "CEL1922.Level" }}
    </td>
  <tr>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-5"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-6"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 5)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-7"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 6)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
    <td class="check">
      <img
      class="jauge-check"
      data-libel-id="spleen-8"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-jaune-{{#if (gt systemData.spleen.lvl 7)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
  </tr>
</table>
