<table>
  <tr>
    <th>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="randomize-moon-die"
      src="systems/celestopol1922/images/wheel.png"
      title="{{ localize 'CEL1922.MoonDieThrow' }}"
      alt="Die"
      >
    </th>
     <th class="AME">
      {{ localize "CEL1922.AME" }}
      <img
      style="width: 27px"
      class="click"
      data-libel-id="AME-RES-0"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.ame' }}"
      alt="Die"
      >
      {{ localize "CEL1922.RES" }}
      <input type="number" name="system.skill.ame.res" value="{{systemData.skill.ame.res}}" placeholder="0" />
    </th>
    <th class="CORPS">
      {{ localize "CEL1922.CORPS" }}
      <img
      style="width: 27px"
      class="click"
      data-libel-id="CORPS-RES-5"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.corps' }}"
      alt="Die"
      >
      {{ localize "CEL1922.RES" }}
      <input type="number" name="system.skill.corps.res" value="{{systemData.skill.corps.res}}" placeholder="0" />
    </th>
    <th class="COEUR">
      {{ localize "CEL1922.COEUR" }}
      <img
      style="width: 27px"
      class="click"
      data-libel-id="COEUR-RES-10"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.coeur' }}"
      alt="Die"
      >
      {{ localize "CEL1922.RES" }}
      <input type="number" name="system.skill.coeur.res" value="{{systemData.skill.coeur.res}}" placeholder="0" />
    </th>
    <th class="ESPRIT">
      {{ localize "CEL1922.ESPRIT" }}
      <img
      style="width: 27px"
      class="click"
      data-libel-id="ESPRIT-RES-15"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.esprit' }}"
      alt="Die"
      >
      {{ localize "CEL1922.RES" }}
      <input type="number" name="system.skill.esprit.res" value="{{systemData.skill.esprit.res}}" placeholder="0" />
    </th>
  </tr>
  <tr>
    <td>
      ●
    </td>
    <td class="attraction">
      <p>{{ localize "CEL1922.Attraction" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="attraction-AME-1"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Attraction' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.ame.attraction.value" value="{{systemData.skill.ame.attraction.value}}" placeholder="-" />
    </td>
    <td class="echauffouree">
      <p>{{ localize "CEL1922.Echauffouree" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="echauffouree-CORPS-6"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Echauffouree' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.corps.echauffouree.value" value="{{systemData.skill.corps.echauffouree.value}}" placeholder="-" />
    </td>
    <td class="appreciation">
      <p>{{ localize "CEL1922.Appreciation" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="appreciation-COEUR-11"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Appreciation' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.coeur.appreciation.value" value="{{systemData.skill.coeur.appreciation.value}}" placeholder="-" />
    </td>
    <td class="traque">
      <p>{{ localize "CEL1922.Instruction" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="traque-ESPRIT-16"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Instruction' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.esprit.instruction.value" value="{{systemData.skill.esprit.instruction.value}}" placeholder="-" />
    </td>
  </tr>
  <tr>
    <td>
      ●
    </td>
    <td class="artifice">
      <p>{{ localize "CEL1922.Artifice" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="artifice-AME-2"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Artifice' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.ame.artifice.value" value="{{systemData.skill.ame.artifice.value}}" placeholder="-" />
    </td>
    <td class="effacement">
      <p>{{ localize "CEL1922.Effacement" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="effacement-CORPS-7"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Effacement' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.corps.effacement.value" value="{{systemData.skill.corps.effacement.value}}" placeholder="-" />
    </td>
    <td class="arts">
      <p>{{ localize "CEL1922.Arts" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="arts-COEUR-12"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Arts' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.coeur.arts.value" value="{{systemData.skill.coeur.arts.value}}" placeholder="-" />
    </td>
    <td class="mtechnologique">
      <p>{{ localize "CEL1922.Merveilleux technologique" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="mtechnologique-ESPRIT-17"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Merveilleux technologique' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.esprit.mtechnologique.value" value="{{systemData.skill.esprit.mtechnologique.value}}" placeholder="-" />
    </td>
  </tr>
  <tr>
    <td>
      ●
    </td>
    <td class="coercition">
      <p>{{ localize "CEL1922.Coercition" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="coercition-AME-3"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Coercition' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.ame.coercition.value" value="{{systemData.skill.ame.coercition.value}}" placeholder="-" />
    </td>
    <td class="prouesse">
      <p>{{ localize "CEL1922.Prouesse" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="prouesse-CORPS-8"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Prouesse' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.corps.prouesse.value" value="{{systemData.skill.corps.prouesse.value}}" placeholder="-" />
    </td>
    <td class="inspiration">
      <p>{{ localize "CEL1922.Inspiration" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="inspiration-COEUR-13"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Inspiration' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.coeur.inspiration.value" value="{{systemData.skill.coeur.inspiration.value}}" placeholder="-" />
    </td>
    <td class="raisonnement">
      <p>{{ localize "CEL1922.Raisonnement" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="raisonnement-ESPRIT-18"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Raisonnement' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.esprit.raisonnement.value" value="{{systemData.skill.esprit.raisonnement.value}}" placeholder="-" />
    </td>
  </tr>
  <tr>
    <td>
      ●
    </td>
    <td class="faveur">
      <p>{{ localize "CEL1922.Faveur" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="faveur-AME-4"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Faveur' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.ame.faveur.value" value="{{systemData.skill.ame.faveur.value}}" placeholder="-" />
    </td>
    <td class="mobilite">
      <p>{{ localize "CEL1922.Mobilite" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="mobilite-CORPS-9"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Mobilite' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.corps.mobilite.value" value="{{systemData.skill.corps.mobilite.value}}" placeholder="-" />
    </td>
    <td class="traque">
      <p>{{ localize "CEL1922.Traque" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="traque-COEUR-14"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Traque' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.coeur.traque.value" value="{{systemData.skill.coeur.traque.value}}" placeholder="-" />
    </td>
    <td class="traitement">
      <p>{{ localize "CEL1922.Traitement" }}</p>
      <img
      style="width: 27px"
      class="click"
      data-libel-id="traitement-ESPRIT-19"
      src="systems/celestopol1922/images/d8_fond_transp.png"
      title="{{ localize 'CEL1922.Die' }}{{ localize 'CEL1922.Traitement' }}"
      alt="Die"
      >
      <input type="number" name="system.skill.esprit.traitement.value" value="{{systemData.skill.esprit.traitement.value}}" placeholder="-" />
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="blessures">
      <p>{{ localize "CEL1922.Jauge de Blessures" }}</p>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Anodin" }}
    </td>
    <td>
      {{ localize "CEL1922.Derisoire" }}
    </td>
    <td>
      {{ localize "CEL1922.Negligeable" }}
    </td>
    <td>
      {{ localize "CEL1922.Superficiel" }}
    </td>
    <td>
      {{ localize "CEL1922.Leger" }}
    </td>
    <td>
      {{ localize "CEL1922.Modere" }}
    </td>
    <td>
      {{ localize "CEL1922.Grave" }}
    </td>
    <td>
      {{ localize "CEL1922.Dramatique" }}
    </td>
  <tr>
    <td class="check blessure-1">
      <input
      type="checkbox"
      name="system.blessure.blessure_1.check"
      {{
      checked
      systemData.blessure.blessure_1.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 minute' }}"
      />
    </td>
    <td class="check blessure-2">
      <input
      type="checkbox"
      name="system.blessure.blessure_2.check"
      {{
      checked
      systemData.blessure.blessure_2.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 minute' }}"/>
    </td>
    <td class="check blessure-3">
      <input
      type="checkbox"
      name="system.blessure.blessure_3.check"
      {{
      checked
      systemData.blessure.blessure_3.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.10 minutes' }}"
      />
    </td>
    <td class="check blessure-4">
      <input
      type="checkbox"
      name="system.blessure.blessure_4.check"
      {{
      checked
      systemData.blessure.blessure_4.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.10 minutes' }}"
      />
    </td>
    <td class="check blessure-5">
      <input
      type="checkbox"
      name="system.blessure.blessure_5.check"
      {{
      checked
      systemData.blessure.blessure_5.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.30 minutes' }}"
      />
    </td>
    <td class="check blessure-6">
      <input
      type="checkbox"
      name="system.blessure.blessure_6.check"
      {{
      checked
      systemData.blessure.blessure_6.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.30 minutes' }}"
      />
    </td>
    <td class="check blessure-7">
      <input
      type="checkbox"
      name="system.blessure.blessure_7.check"
      {{
      checked
      systemData.blessure.blessure_7.check
      }}
      title="{{ localize 'CEL1922.Recup' }}{{ localize 'CEL1922.1 day' }}"
      />
    </td>
    <td class="check blessure-8">
      <input
      type="checkbox"
      name="system.blessure.blessure_8.check"
      {{
      checked
      systemData.blessure.blessure_8.check
      }}
      title="{{ localize 'CEL1922.Out of Fiction' }}"
      />
    </td>
  </tr>
  <tr>
    <td>
      0
    </td>
    <td>
      0
    </td>
    <td>
      -1
    </td>
    <td>
      -1
    </td>
    <td>
      -2
    </td>
    <td>
      -2
    </td>
    <td>
      -3
    </td>
    <td>
      {{ localize "CEL1922.Hors-fiction" }}
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="destin">
      <p>{{ localize "CEL1922.Jauge de Destin" }}</p>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
  <tr>
    <td class="check destin-1">
      <input
      type="checkbox"
      name="system.destin.destin_1.check"
      {{
      checked
      systemData.destin.destin_1.check
      }}
      title=""
      />
    </td>
    <td class="check destin-2">
      <input
      type="checkbox"
      name="system.destion.destin_2.check"
      {{
      checked
      systemData.destion.destin_2.check
      }}
      title=""
      />
    </td>
    <td class="check destin-3">
      <input
      type="checkbox"
      name="system.destion.destin_3.check"
      {{
      checked
      systemData.destion.destin_3.check
      }}
      title=""
      />
    </td>
    <td class="check destin-4">
      <input
      type="checkbox"
      name="system.destin.destin_4.check"
      {{
      checked
      systemData.destin.destin_4.check
      }}
      title=""
      />
    </td>
    <td class="check destin-5">
      <input
      type="checkbox"
      name="system.destion.destin_5.check"
      {{
      checked
      systemData.destion.destin_5.check
      }}
      title=""
      />
    </td>
    <td class="check destin-6">
      <input
      type="checkbox"
      name="system.destion.destin_6.check"
      {{
      checked
      systemData.destion.destin_6.check
      }}
      title=""
      />
    </td>
    <td class="check destin-7">
      <input
      type="checkbox"
      name="system.destion.destin_7.check"
      {{
      checked
      systemData.destion.destin_7.check
      }}
      title=""
      />
    </td>
    <td class="check destin-8">
      <input
      type="checkbox"
      name="system.destion.destin_8.check"
      {{
      checked
      systemData.destion.destin_8.check
      }}
      title=""
      />
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
  </tr>
</table>
<table>
  <tr>
    <th class="spleen">
      <p>{{ localize "CEL1922.Jauge de Spleen" }}</p>
    </th>
  </tr>
</table>
<table>
  <tr>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
    <td>
      {{ localize "CEL1922.Libel" }}
    </td>
  <tr>
    <td class="check spleen-1">
      <input
      type="checkbox"
      name="system.spleen.spleen_1.check"
      {{
      checked
      systemData.spleen.spleen_1.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-2">
      <input
      type="checkbox"
      name="system.spleen.spleen_2.check"
      {{
      checked
      systemData.spleen.spleen_2.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-3">
      <input
      type="checkbox"
      name="system.spleen.spleen_3.check"
      {{
      checked
      systemData.spleen.spleen_3.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-4">
      <input
      type="checkbox"
      name="system.spleen.spleen_4.check"
      {{
      checked
      systemData.spleen.spleen_4.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-5">
      <input
      type="checkbox"
      name="system.spleen.spleen_5.check"
      {{
      checked
      systemData.spleen.spleen_5.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-6">
      <input
      type="checkbox"
      name="system.spleen.spleen_6.check"
      {{
      checked
      systemData.spleen.spleen_6.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-7">
      <input
      type="checkbox"
      name="system.spleen.spleen_7.check"
      {{
      checked
      systemData.spleen.spleen_7.check
      }}
      title=""
      />
    </td>
    <td class="check spleen-8">
      <input
      type="checkbox"
      name="system.spleen.spleen_8.check"
      {{
      checked
      systemData.spleen.spleen_8.check
      }}
      title=""
      />
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      2
    </td>
    <td>
      3
    </td>
    <td>
      4
    </td>
    <td>
      5
    </td>
    <td>
      6
    </td>
    <td>
      7
    </td>
    <td>
      8
    </td>
  </tr>
</table>
