<div class="titre" data-tooltip="{{{ localize 'CEL1922.FactionsSpeech' }}}">
  <span>{{ localize "CEL1922.Factions" }}&nbsp;<i class="fas fa-circle-info"></i></span>
</div>
<br>
<br>
<div class="faction">{{ localize "CEL1922.Pinkerton" }}</div>
<div class="faction-ligne">
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-pinkerton faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="pinkerton-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.pinkerton 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="pinkerton-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.Police" }}</div>
<div class="faction-ligne">
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-police faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="police-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.police 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="police-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.Okhrana" }}</div>
<div class="faction-ligne">
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-okhrana faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="okhrana-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.okhrana 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="okhrana-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.LunaNovaTek" }}</div>
<div class="faction-ligne">
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-lunanovatek faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="lunanovatek-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.lunanovatek 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="lunanovatek-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.OTO" }}</div>
<div class="faction-ligne">
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-oto faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="oto-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.oto 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="oto-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.Syndicats" }}</div>
<div class="faction-ligne">
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-syndicats faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="syndicats-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.syndicats 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="syndicats-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.VorovskoyMir" }}</div>
<div class="faction-ligne">
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-vorovskoymir faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="vorovskoymir-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.vorovskoymir 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="vorovskoymir-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.Cour" }}</div>
<div class="faction-ligne">
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-cour faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="cour-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.cour 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="cour-p3">&nbsp;3</span>
</div>
    
<div class="faction">{{ localize "CEL1922.FactionPersonnalisee:" }} {{this.libel}}</div>
<div class="faction-ligne">
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso-p4">&nbsp;4</span>
</div>

<div class="faction">{{ localize "CEL1922.FactionPersonnalisee:" }} {{this.libel2}}</div>
<div class="faction-ligne">
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-m4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 -4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-m3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 -3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-m2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 -2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-m1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 -1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-0"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 0)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-p1"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 1)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-p2"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 2)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-p3"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 3)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
    <span class="check-perso2 faction-colonne">
      <img
      class="jauge-check"
      data-libel-id="perso2-p4"
      data-tooltip=""
      src="systems/celestopol1922/images/ui/cercle-vert-{{#if (eq this.perso2 4)}}checked{{else}}unchecked{{/if}}.png"
      ></img>
    </span>
</div>
<div class="faction-ligne-level">
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-m4">-4</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-m3">-3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-m2">-2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-m1">-1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-0">&nbsp;0</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-p1">&nbsp;1</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-p2">&nbsp;2</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-p3">&nbsp;3</span>
    <span class="jauge-level jauge-check faction-colonne-level" data-libel-id="perso2-p4">&nbsp;4</span>
</div>
<br>
<div class="faction-green-buttons">
    <p><span data-tooltip="{{ localize 'CEL1922.EditFactionsSpeech' }}" class="faction-smart-green-button factions-edit-PC-click">{{ localize "CEL1922.EditFactions" }}</span></p>
</div>