<div class="titre">
  <a class="item-control" data-tooltip="{{ localize 'CEL1922.AspectCreate' }}" data-action="create" data-type="aspect">{{ localize "CEL1922.AspectCreate" }} <i class="fas fa-plus"></i>&nbsp;</a>
</div>
<ol class="item-list">
  {{#each aspects as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <img src="{{item.img}}" data-tooltip="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
    <div class="item-controls">
      <a class="item-control" data-tooltip="{{ localize 'CEL1922.AspectEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
      <a class="item-control" data-tooltip="{{ localize 'CEL1922.AspectDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
</p>
