<section class="celestopol1922 info flexcol">
  <h1 class="title">{{localize "CEL1922.Sidebar.title"}}</h1>
  <p class="subtitle version">{{version}}</p>
</section>

<section class="celestopol1922 support flexcol">
  <h4 class="divider">{{localize "CEL1922.Sidebar.support"}}</h4>
  <a class="button" href="https://discord.gg/pPSDNJk" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CEL1922.Sidebar.discordLaFonderieTooltip'}}">
    <i class="fa-solid fa-landmark" inert></i>
    {{localize "CEL1922.Sidebar.discordLaFonderie"}}
  </a>
  <a class="button" href="https://discord.gg/PgDsUazuBR" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CEL1922.Sidebar.discordAMETooltip'}}">
    <i class="fa-solid fa-landmark" inert></i>
    {{localize "CEL1922.Sidebar.discordAME"}}
  </a>
</section>

<section class="celestopol1922 resources flexcol">
  <h4 class="divider">{{localize "CEL1922.Sidebar.resources"}}</h4>
  <a class="button" href="https://antre-monde.com/boutique/" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CEL1922.Sidebar.buyAMETooltip'}}">
    <i class="fa-solid fa-cart-shopping" inert></i>
    {{localize "CEL1922.Sidebar.buyAME"}}
  </a>
  <a class="button" href="https://serveurdavid.fr/celestopol1922.html" rel="nofollow noopener" target="_blank" data-tooltip="{{localize 'CEL1922.Sidebar.downloadTooltip'}}">
    <i class="fa-solid fa-arrow-down-to-line" inert></i>
    {{localize "CEL1922.Sidebar.download"}}
  </a>
</section>

<section class="celestopol1922 system flexcol">
  <h4 class="divider">{{localize "CEL1922.Sidebar.menu"}}</h4>
  <button type="button" data-action="openApp" data-app="factions" data-tooltip="{{localize 'CEL1922.Sidebar.factionsTooltip'}}">
    <i class="fa-solid fa-users" inert></i>
    {{localize "CEL1922.Sidebar.factions"}}
  </button>
</section>