<form class="flexcol {{cssClass}}" autocomplete="off">
  {{log 'actor-sheet' this}} 
  {{!-- Sheet Header --}}
  <div class="sheet-display">
    {{!-- Side Sheet --}}
    <div class="side-sheet">
        <div class="sheet-logo">
        <img src="systems/celestopol1922/images/logo_jeu.png">
        <br>
        <div class="NPCtype">
          <h2>{{ localize "CEL1922.N.P.C." }}<h2>
        </div>
      </div>
      <img class="logo-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <table>
        <tr>
          <td style="width: 1%">
            <h1>
              <i class="click-prefs fas fa-gear"></i>
            </h1>
          </td>
          <td>
            <h1 class="charname">
              <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'CEL1922.PCName' }}" />
            </h1>
          </td>
        </tr>
      </table>
      <table class="concept">
        <tr>
          <td>
            <label><b>{{ localize "CEL1922.Concept" }}</b></label>
            <input type="text" name="system.concept" value="{{systemData.concept}}" placeholder="{{ localize 'CEL1922.Concept' }}" />
          </td>
        </tr>
        <tr>
          <td>
            <label><b>{{ localize "CEL1922.Anomaly" }}</b></label>
            <select name="system.anomaly">
              {{#select systemData.anomaly }}
              <option value="0">{{ localize "CEL1922.opt.noneText" }}</option>
              <option value="1">{{ localize "CEL1922.Entropie" }}</option>
              <option value="2">{{ localize "CEL1922.CommunicationAvecLesMorts" }}</option>
              <option value="3">{{ localize "CEL1922.Illusion" }}</option>
              <option value="4">{{ localize "CEL1922.Suggestion" }}</option>
              <option value="5">{{ localize "CEL1922.TarotDivinatoire" }}</option>
              <option value="6">{{ localize "CEL1922.Telekinesie" }}</option>
              <option value="7">{{ localize "CEL1922.Telepathie" }}</option>
              <option value="8">{{ localize "CEL1922.VoyageAstral" }}</option>
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" name="system.anomalyval" value="{{systemData.anomalyval}}" placeholder="0" />
            <span>/</span>
            <select name="system.anomalymax">
              {{#select systemData.anomalymax }}
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              {{/select}}
            </select>

          </td>
        </tr>
        <tr>
          <td>
            <label><b>{{ localize "CEL1922.Initiative" }}</b></label>
          </td>
        </tr>
        <tr>
          <td class="initiative" title="{{ localize 'CEL1922.corps actuel' }}">
            -&nbsp;{{systemData.initiative}}&nbsp;-
            <!--
            <img
            class="tromblon-click"
            data-libel-id="FIGHT-BUTTON-0"
            src="systems/celestopol1922/images/icons/blunderbuss-orange.png"
            title="{{ localize 'CEL1922.Fight' }}"
            alt="Die"
            >
            -->
          </td>
        </tr>
      </table>
    </div>

    {{!-- Body Sheet --}}
    <div class="body-sheet">
      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "CEL1922.Description" }}</a>
        <a class="item" data-tab="skills">{{ localize "CEL1922.Skills" }}</a>
        <a class="item" data-tab="anomalies">{{ localize "CEL1922.Anomalies" }}</a>
        <a class="item" data-tab="aspects">{{ localize "CEL1922.Aspects" }}</a>
        <a class="item" data-tab="items">{{ localize "CEL1922.Items" }}</a>
      </nav>

      {{!-- Sheet Body --}}
      <section class="sheet-body">
        {{!-- Biography Tab --}}
        <div class="tab description description_wrap" data-group="primary" data-tab="description">
          {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">{{> "systems/celestopol1922/templates/actor/parts/npc-skills.html"}}</div>

        {{!-- Owned Aspect Tab --}}
        <div class="tab aspects" data-group="primary" data-tab="aspects">{{> "systems/celestopol1922/templates/actor/parts/npc-aspects.html"}}</div>

        {{!-- Owned Anomaly Tab --}}
        <div class="tab anomalies" data-group="primary" data-tab="anomalies">{{> "systems/celestopol1922/templates/actor/parts/npc-anomalies.html"}}</div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">{{> "systems/celestopol1922/templates/actor/parts/npc-items.html"}}</div>
      </section>
    </div>
  </div>
</form>
